.mainDivSlip{
    margin: 16px;
    padding: 16px;
    display: flex;
    text-align: center;
    flex-direction: column;
    .uploadDoc{
        font-size: 28px;
        font-weight:600;
        color: #1d2a78;
    }
    .btnclass{
        background:#1d2a78;
        padding: 5px 10px;
        border-radius: 5px;
        color: #fff;
        font-weight: 600;
        letter-spacing: 1px;
        margin-top: 18px;
        width: 100%;
        align-items: center;
        height: 45px;
    }
    .marginPdf{
        margin-bottom: 18px;
    }
    .titleText{
        color:#1d2a78;
        font-size: 20px;
        font-weight: bolder;
        text-decoration: underline;
        text-align: left;
    }
}

.btnclass{
    background:#1d2a78;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 18px;
    width: 100%;
    align-items: center;
    height: 45px;
}